body {
  background-image: url('suburbs2.jpeg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  z-index: -1;
  /*color: white;*/

}

h1 {
  font-size: 75px;
}
.header {
  /*height: 200px;*/
}


.content {
  position: relative;
  /*top: 200px;*/
}

.properties {

  padding: 5px;
  margin:3px;
  max-width: 250px;
  background-color: rgba(168, 216, 242, 0.71);
  border-radius: 5px;
  min-height: 380px;

}

.hidden {
  visibility: collapse;
}

modal {
  z-index: -10;
}
