body {
  background-image: url('suburbs2.jpeg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;



}

.header {
  position: fixed;
}

.properties {

  padding: 5px;
  margin:3px;
  max-width: 250px;
  background-color: ;
  border-radius: 5px;

}

.panel-group {

}

modal {
  z-index: -10;
}
